<h1>Action Movies are sweet</h1>
<p>Michael Bay movies use lots of explosions for effect: <%= @action.explosion %></p>
<p>Many action movies are <%= @action.length %> in length</p>
<%= @action.get_genre %>